<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SlotRacer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
      <SlotRacer.Properties.Settings>
            <setting name="SerialPort" serializeAs="String">
                <value />
            </setting>
            <setting name="YellowFlagSpeed" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="YellowFlagDelay" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="YellowFlagActivation" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SpeedAfterRace" serializeAs="String">
                <value>17</value>
            </setting>
            <setting name="GhostCarSpeed" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="GhostCarLaneChange" serializeAs="String">
                <value>0</value>
            </setting>
        </SlotRacer.Properties.Settings>
    </userSettings>
</configuration>